@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    width: 100%;
    background: #E5E5E5;
}

.wrapper {
    margin: 0 200px;
    background: white;
    padding: 13px 36px 17px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .wrapper {
        margin: 0 100px;
    }
}

@media screen and (max-width: 960px) {
    .wrapper {
        margin: 0 50px;
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        margin: 0 0;
    }
}

