.card {
    display: flex;
    width: 451px;
    height: 279px;
    -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

ul li {
    list-style-type: none;
}

.card_description {
    margin: 10px 9px 2px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_description--top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    gap: 10px;
}

.card_description__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.card_description__grade {
    border: 2px solid #827E7E;
    border-radius: 50%;
    line-height: 22px;
    padding: 10px 8px;
}

.card_description__grade_low {
    border: 2px solid #E90000;
}

.card_description__grade_medium {
    border: 2px solid #E97E00;
}

.card_description__grade_high {
    border: 2px solid #E9D100;
}

.card_description__grade_veryHigh {
    border: 2px solid #66E900;
}

.card_description__grade span {
    width: 18px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_description__date {
    color: #827E7E;
    margin-bottom: 7px;
}

.card_description__genres {
    margin-bottom: 7px;
}

.card_description__genres ul {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.card_description__genres ul li {
    color: rgba(0, 0, 0, 0.65);
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding: 2px 3px 3px 5px;
}

.card_description__stars ul li {
    margin-inline-end: 3px !important;
}

.ant-image-img {
    width: auto !important;
    max-width: 183px !important;
    height: 100% !important;
}

@media screen and (max-width: 720px) {
    .card {
        display: flex;
        max-width: 387px;
        height: auto;
        flex-direction: column;
    }

    .css-dev-only-do-not-override-mxhywb {
        display: flex !important;
        justify-content: center !important;
    }

    .card_description__stars {
        display: flex;
        justify-content: right;
    }
}